<div class="well well-lg">
  <div class="container-fluid media">
      <div class="media-left">
        <%= placeholdit_image_tag "48" %>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Fulano da Silva</h4>
        <p>2h</p>
      </div>
  </div>
</div>
