<div class="well well-lg">
  <div class="container-fluid media">
      <div class="media-left">
        <%= placeholdit_image_tag "100" %>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Look, I'm in a large well!</p>
      </div>
  </div>
</div>
