<div class="well well-lg">
  <div class="media">
      <div class="media-left">
        <%= image_tag "ronivaldo.png", :class=>"user-photo" %>
      </div>

      <div class="media-body">
        <div class="post-heading">
          <h4 class="media-heading">Ronivaldo</h4>
          <p>2h</p>
        </div>
        <div class="post-content">
          A minha cachorra ta prenha! $.$
        </div>
      </div>
  </div>
</div>

<div class="well well-lg">
  <div class="media">
      <div class="media-left">
        <%= image_tag "gertrudez.png", :class=>"user-photo" %>
      </div>
      <div class="media-body">
        <div class="post-heading">
          <h4 class="media-heading">Gertrudez</h4>
          <p>4h</p>
        </div>
        <div class="post-content">

          Hoje eu fui ao Jô Soares falar sobre os meus Gatos S2.
          <%= image_tag "maite-proenca.jpg", :class => "photo-content" %>
        </div>
      </div>
  </div>
</div>
