<li data-match-route="/" class="dropdown">
    <a href="#/page-one" title="Notificações" data-toggle="dropdown" role="button" id="dLabel" data-target="#" >
        <i class="mdi-social-notifications" ></i>
    </a>
    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
        <div class="notification-heading">
            <h2 class="menu-title">Notificações</h2>
            <a href="javascript:void(0)" class="btn btn-flat btn-primary pull-right">
                Ver tudo
                <i class="glyphicon glyphicon-circle-arrow-right"></i>
            </a>
        </div>
        <li class="divider"></li>
        <div class="notifications-wrapper">
            <a class="content" href="#">
            <div class="notification-item">
            <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
            <p class="item-info">Marketing 101, Video Assignment</p>
            </div>
            </a>
            <a class="content" href="#">
            <div class="notification-item ">
            <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
            <p class="item-info">Marketing 101, Video Assignment</p>
            </div>
            </a>
            <a class="content" href="#">
            <div class="notification-item">
            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
            <p class="item-info">Marketing 101, Video Assignment</p>
            </div>
            </a>
            <a class="content" href="#">
            <div class="notification-item">
            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
            <p class="item-info">Marketing 101, Video Assignment</p>
            </div>
            </a>
            <a class="content" href="#">
            <div class="notification-item">
            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
            <p class="item-info">Marketing 101, Video Assignment</p>
            </div>
            </a>
            <a class="content" href="#">
            <div class="notification-item">
            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
            <p class="item-info">Marketing 101, Video Assignment</p>
            </div>
            </a>
        </div>
    </ul>
</li>