<li data-match-route="/" class="dropdown">
    <a href="#/page-one" title="Notificações" data-toggle="dropdown" role="button" id="dLabel" data-target="#" >
        <i class="mdi-social-notifications" ></i>
    </a>
    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
        <div class="notification-heading">
            <h2 class="menu-title">Notificações</h2>
            <a href="javascript:void(0)" class="btn btn-flat btn-primary pull-right">
                Ver tudo
                <i class="glyphicon glyphicon-circle-arrow-right"></i>
            </a>
        </div>
        <li class="divider"></li>
        <% (2..3).each do | i | %>
        <div class="notifications-wrapper">
            <a class="content" href="#">
            <div class="notification-item">
            <h4 class="item-title"><strong>Fulano <%= i %> </strong>  · <%= i %> days ago</h4>
            <p class="item-info"><%=Faker::Lorem.sentence(3, true) %> ...</p>
            </div>
            </a>
        </div>
        <% end %>
    </ul>
</li>