<nav id="sidebar" class=" col-sm-2  menu" >
    <ul>
      <%= link_to chats_path() do %>
        <li class="withripple">
          <i class="mdi-communication-message"></i>Conversas
        </li>
      <% end %>
      <%= link_to groups_path() do %>
        <li class="withripple">
          <i class="mdi-social-people-outline"></i>Grupos
        </li>
      <% end %>
      <li class="divider"></li>
      <a href="#">
        <li class="withripple">
          <i class="mdi-navigation-close"></i>Sair
        </li>
      </a>
    </ul>
</nav>